@import url('https://fonts.googleapis.com/css2?family=Benne&family=Cormorant+SC:wght@400;500;600;700&family=Merriweather:wght@400;700;900&family=Overpass:wght@400;500;700&family=PT+Sans+Caption:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Overpass', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 992px;
  margin: 0 auto;
}


